@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nunito Sans", sans-serif;
}

:root {
    --bg-color:#191f36;
    --snd-bf-color:#262B40;
    --text-color: #fff;
    --main-color: #59B2F4;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.nav-bar a{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.nav-bar a:hover,
.nav-bar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img {
    
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--snd-bf-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bf-color);
}

.about-img img{
    width: 35vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* SKills */
.skill-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.skill-bar {
    margin-bottom: 2.3rem;
}

.skill-main h3 {
    margin-bottom: 2rem;
    font-size: 2.6rem;
    text-align: center;
}

.info p {
    font-size: 1.6rem;
}

.skill-left .skill-bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill-left .skill-bar .bar {
    width: 100%;
    height: 10px;
    background-color: var(--snd-bf-color);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.skill-bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--main-color);
    border-radius: 25px;
    box-shadow: 0 0 1rem var(--main-color);
}

.skill-bar .bar .html {
    width: 72%;
    animation: html 2s;
}

.skill-bar .bar .css {
    width: 70%;
    animation: css 3s;
}

.skill-bar .bar .javascript {
    width: 72%;
    animation: javascript 4s;
}

.skill-bar .bar .php {
    width: 80%;
    animation: php 5s;
}

.skill-bar .bar .react {
    width: 70%;
    animation: react 6s;
}

@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 72%;
    }
    
}

@keyframes javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 72%;
    }
    
}

@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
    
}

@keyframes php {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
    
}

@keyframes react {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
    
}

.professional {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box {
    margin: 10px 0;
    flex: 1 1 15rem;
    position: relative;
}

.box .text {
    text-align: center;
    color: #fff;
    font-size: 1rem;
}

.box .text big {
    font-weight:400;
    letter-spacing: 1px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box .text small {
    display: block;
    font-weight: 600;
    font-size: 1.6rem;
}

.circle {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle .points {
    width: 5px;
    height: 10px;
    background-color: var(--bg-color);
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);
    
}

.points.marked {
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*0.05s);
}

@keyframes glow {
    0% {
        background: var(--bg-color);
        box-shadow: none;
    }
    100% {
        background: var(--main-color);
        box-shadow: 0 0 1rem var(--main-color);
    }
}

/* .skill {
    position: relative;
    max-width: 600px;
    width: 100%;
    background: transparent;
    box-shadow: 1px 8px10px 2px var(--main-color);
    padding: 10px 20px;
    border: 2px solid var(--main-color);
    border-radius: 20px;
}

.skill .skill-box {
    width: 100%;
    margin: 25px 0;
}

.skill-box .title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
}

.skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: var(--text-color);
}

.skill-box .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: var(--main-color);
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}

.skill-per.html{
    animation-delay: 0.1s;
    width: 50%;
}
.skill-per.css{
    animation-delay: 0.1s;
    width: 60%;
}

.skill-per.php{
    animation-delay: 0.1s;
    width: 80%;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    color: var(--text-color);
    padding: 2px 6px;
    border-radius: 20px;
    background: var(--main-color);
} */

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--snd-bf-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3{
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bf-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--snd-bf-color);
}

.footer-text {
    font-size: 1.6rem;
}

.footer-icon-top {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5 ease;
}

.footer-icon-top a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-icon-top a i {
    font-size: 2.4rem;
    color: var(--snd-bf-color);
}


@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 9910px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3%;
    }

    .services {
        padding: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .nav-bar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    nav.nav-bar.active {
        display: block;
    }

    .nav-bar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content {
        order: 2;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column;
    }

    .about-img img {
        width: 90vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .skill-main {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 617px) {
    .home-img img {
        width: 80vw;
        margin-top: 8rem;
    }

    .about-img img {
        width: 100vw;
        margin-top: 4rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}
